<h1>My Song</h1>
<h2> <%= @song.name %> </h2>
<h5> Artist: <%= link_to @song.artist.name, artist_path(@song.artist.id) %> </h5>
<h5> Genre: <%= link_to @song.genre.name, genre_path(@song.genre.id) %> </h5>


